IA_GET_REPO=https://github.com/L-K-M/ia-get.git
IA_GET_REF=main
IMAGE_TAG=latest

WEB_PORT=14637
DOWNLOADS_PATH=./downloads

PUID=568
PGID=568
TZ=UTC

MAX_LOG_LINES=5000
MAX_JOBS=25

IA_USERNAME=
IA_PASSWORD=
